.reactMarkDown {
  background-color: #f6f0f0;
  font-family: 'Open Sans', sans-serif;
  width: 96%;
  padding: 1px;
  margin: auto;
}

.reactMarkDown p, h4, hr, h2 {
  margin-left: 5px;
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.rsh {
  font-size: 50%;
}

.reactMarkDown table {
  color: orange;
  border: 1px solid black;
}

.reactMarkDown tbody tr th:only-of-type {
  vertical-align:middle;
}

.reactMarkDown tbody tr th {
  vertical-align:top;
}

.reactMarkDown thead th {
  text-align:right;
}

.reactMarkDown tr {
  text-align:right;
}