.reactMarkDown {
  background-color: #f6f0f0;
  font-family: 'Open Sans', sans-serif;
  width: 96%;
  padding: 1px;
  margin: auto;
}

.reactMarkDown p, h4, hr, h2 {
  margin-left: 5px;
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.rsh {
  font-size: 50%;
}