.reactMarkDown {
  background-color: #f6f0f0;
  margin-left: 2%;
  width: 96%;
  padding: 5px;
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.rsh {
  font-size: 50%;
}