.App {
  padding: 2px;
  background-color: #fafdfd;
  min-height: 100vh;
}

nav {
  margin-left: 2%;
  background-color: #fafdfd;
}

nav a {
  padding: 0px 10px;
}

html, body {
  height: 100%;
}

.home-page {
  text-align: center;
  background-color:rgb(233, 242, 253);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.route-link {
  color: #61dafb;
}

.links-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.links-container a {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/******************
*****ARTICLES*****
******************/
.article-container {
  background-color: rgb(237, 233, 233);
  width: 300px;
  border: 15px solid rgb(108, 132, 160);
  padding: 50px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.article-title {
  color: rgb(108, 132, 160);
}

.article-grid-container {
  display: inline-block;
  padding: 15px;
  margin-left: 1%;
  /* align-items: center;
  justify-content: center; */
}

.article-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/******************
*****PROJECTS*****
******************/
.project-container {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid rgb(108, 132, 160);
  padding: 50px;
  margin: 20px;
}

.project-title {
  color: rgb(108, 132, 160);
}

.project-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.prev-list ul {
  list-style: none;
  padding-left: 0;
}

/*******************
***** Markdown *****
*******************/

pre { 
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", Courier, monospace;
  font-size:85%;
  width: min-content;
  margin-left: 3%;
  tab-size: 4; 
  padding: 4px;
  border: 0.5px solid #d3d3d3;
  border-radius: 5px;
  background-color: #E6E6E6;
}

code {
  background-color: #E6E6E6;
}

/*******************
**** Side Panel ****
*******************/

aside {
  border: 1px solid rgb(174, 236, 247);
  word-wrap: break-word;
  display: block;
}

.side-panel-aside {
  text-align: center;
  background-color:rgb(237, 233, 233);
  right: 0;
  padding: 0 10px 0 20px;
  top: 0px;
  bottom: 0px;
  position: relative;
}

.side-panel-container {
  height: 100vh;
  display: block;
}

.side-panel-image {
  width: 100%;
}

.side-panel-list {
  padding: 2px;
}

.grid-container {
  display: flex;
}

.flex-container {
  display: flex;
  width: 20%;
}

.mapped-image {
  display: inline-block;
  padding: 10px 0;
  max-width:100%;
  max-height:100%;
}

.panel-doc-list {
  list-style-type: none;
  text-align: left;
}

.show-more {
  cursor: pointer;
  width: auto;
  text-align: left;
  height: 20px;
  display: inline-block;
}

.panel-dir-name {
  vertical-align: middle;
}

.prev-toggle:hover + .hide {
  display: block;
}

.hide {
  display: none;
  float: right;
  position: fixed;
  margin-left: 10%;
}

.collapse-panel {
  width: 100%;
}

.file-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.file-grid img {
  padding: 0px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 3px 3px;
  border: none;
  position: fixed;
}