.App {
  padding: 2px;
  background-color: #fafdfd;
  min-height: 100vh;
}

a:visited {
  color: rgb(58, 49, 107);
}

a {
  color: rgb(40, 100, 178);
}

nav {
  text-align: center;
  background-color: #f1e4f9;
  border-radius: 10px;
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

nav a {
  padding: 0px 10px;
  text-decoration: none;
  padding: 3px;
}

html, body {
  height: 100%;
}

.home-page {
  text-align: center;
  background-color:rgb(233, 242, 253);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f1e4f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(39, 10, 34);
  border-radius: 10px;
  border: 1px solid black;
}

.route-link {
  color: #260a2649;
  text-decoration: none;
}

.route-link:visited {
  color: rgb(58, 49, 107);
}

.links-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.links-container a {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subText {
  font-size: 50%;
}

/******************
*****ARTICLES*****
******************/
.article-container {
  background-color: #f1e4f9;
  width: 300px;
  border: 15px solid rgb(108, 132, 160);
  padding: 50px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.article-title {
  color: rgb(108, 132, 160);
}

.article-grid-container {
  display: inline-block;
  padding: 15px;
  margin-left: 1%;
  /* align-items: center;
  justify-content: center; */
}

.article-grid-item {
  background-color: #f1e4f9;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/******************
*****PROJECTS*****
******************/
.project-container {
  background-color: #f1e4f9;
  width: 300px;
  border: 15px solid rgb(108, 132, 160);
  padding: 50px;
  margin: 20px;
}

.project-title {
  color: rgb(108, 132, 160);
}

.project-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.prev-list ul {
  list-style: none;
  padding-left: 0;
}

/*******************
***** Markdown *****
*******************/

pre { 
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", Courier, monospace;
  font-size:85%;
  width: min-content;
  margin-left: 3%;
  tab-size: 4; 
  padding: 4px;
  border: 0.5px solid #d3d3d3;
  border-radius: 5px;
  background-color: #E6E6E6;
}

code {
  background-color: #E6E6E6;
}

/*******************
**** Side Panel ****
*******************/

aside {
  border: 1px solid rgb(174, 236, 247);
  word-wrap: break-word;
  display: block;
}

.side-panel-aside {
  text-align: center;
  background-color:rgb(237, 233, 233);
  right: 0;
  padding: 0 10px 0 20px;
  top: 0px;
  bottom: 0px;
  position: relative;
}

.side-panel-container {
  height: 100vh;
  display: block;
}

.side-panel-image {
  width: 100%;
}

.side-panel-list {
  padding: 2px;
  list-style-type: none;
}

.grid-container {
  display: flex;
}

.flex-container {
  display: flex;
  width: 20%;
}

.mapped-image {
  display: inline-block;
  padding: 10px 0;
  max-width:100%;
  max-height:100%;
}

.panel-doc-list {
  list-style-type: none;
  text-align: left;
}

.show-more {
  cursor: pointer;
  width: auto;
  text-align: left;
  display: inline-block;
}

.show-more img {
  margin-top: 10px;
}

.panel-dir-name {
  display: inline;
  font-weight: bold;
  margin-left: 4px;
}

.collapse-img {
  display: inline;
}

.prev-toggle:hover + .hide {
  display: block;
}

.hide {
  display: none;
  float: right;
  position: fixed;
  margin-left: 10%;
}

.collapse-panel {
  width: 100%;
}

.file-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.file-grid img {
  padding: 0px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 3px 3px;
  border: none;
  position: fixed;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.dataframe {
  font-size: 80%;
  margin: auto;
}